.place__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: calc(72/1280*100vw);
    line-height: calc(76/1280*100vw);
    color: white;
    max-width: calc(460/1280*100vw);
    margin: 0;
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .place__title {
        max-width: calc(440/1024*100vw);
        font-size: calc(72/1024*100vw);
        line-height: calc(76/1024*100vw);
        }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .place__title {
        max-width: calc(340/768*100vw);
        font-size: calc(42/768*100vw);
        line-height: calc(46/768*100vw);
    }
}

@media screen and (max-width:500px) {
    .place__title {
        max-width: calc(288/320*100vw);
        font-size: calc(32/320*100vw);
        line-height: calc(35/320*100vw);
    }
}