.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    width: 1184px;
    height: 671px;
    margin: 0 auto 92px auto;
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .photo-grid {
    grid-template-columns: repeat(3, calc(300/1024*100vw));
    grid-template-rows: repeat(4, calc(225/1024*100vw));
    gap: calc(14/1024*100vw);
    width: calc(928/1024*100vw);
    height: calc(942/1024*100vw);
    margin: 0 auto calc(92/1024*100vw) auto;
}
}

@media screen and (min-width:500px) and (max-width:900px) {
    .photo-grid {
    grid-template-columns: repeat(2, calc(352/768*100vw));
    grid-template-rows: repeat(6, calc(264/768*100vw));
    gap: calc(16/768*100vw);
    width: calc(720/768*100vw);
    height: calc(1664/768*100vw);
    margin: 0 auto calc(88/768*100vw) auto;
}
}

@media screen and (max-width:500px) {
    .photo-grid {
    grid-template-columns: calc(288/320*100vw);
    grid-template-rows: repeat(12, calc(216/320*100vw));
    gap: calc(12/320*100vw);
    max-width: calc(288/320*100vw);
    height: calc(2724/320*100vw);
    margin: 0 auto calc(64/320*100vw) auto;
}
}