.header__lang-link-ru {
    font-family: 'Inter';
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-align: right;
    text-decoration: underline;
}

.header__lang-link-ru:hover {
    cursor: url(../../../../Images/Pointer.svg), pointer;
}

@media screen and (max-width: 425px) {

    .header__lang-link-ru {
        font-family: 'Inter';
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: white;
        text-decoration: underline;
    }
}