.places {
    margin:0 148px 0 148px;
    width: 984px;
  
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .places {
        margin:0 calc(48/1024*100vw) 0 calc(48/1024*100vw);
        width: calc(928/1024*100vw);
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .places {
        margin:0 calc(24/768*100vw) 0 calc(24/768*100vw);
        width: calc(720/768*100vw);
    }
}

@media screen and (max-width:500px) {
    .places {
        margin:0 auto 0 auto;
        max-width: 100vw;
    }
}