.place__content {
    display: grid;
    grid-template-columns: calc(460/1280*100vw) calc(calc(984/1280*100vw) - calc(460/1280*100vw) - calc(40/1280*100vw));
    gap: calc(40/1280*100vw);
    margin-top: calc(48/1280*100vw);
}

@media screen and (max-width: 1024px) {
    .place__content {
        grid-template-columns: 440px 456px;
        gap: 32px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .place__content {
        grid-template-columns: 340px 352px;
        gap: 28px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 425px) {
    .place__content {
        display: flex;
        flex-direction: column;
    }
}