.lead {
    margin: 0 148px 0 148px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .lead {
        margin: 0 calc(48/1024*100vw) 0 calc(48/1024*100vw);
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .lead {
        margin: 0 0 0 0;
    }
}

@media screen and (max-width:500px) {
    .lead {
        margin: 0 0 0 0;
    }
}
