.lead__photo {
    margin: 0;
    padding: 0;
    width: 984px;
    height: 615px;
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .lead__photo {
        width: calc(928/1024*100vw);
        height: calc(580/1024*100vw); 
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .lead__photo {
        width: 100%;
        height: calc(480/768*100vw); 
    }
}

@media screen and (max-width:500px) {
    .lead__photo {
        width: 100%;
        height: calc(200/320*100vw); 
    }
}
