.footer__links {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    gap: calc(18/1280*100vw);
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .footer__links {
        gap: calc(18/1024*100vw);
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .footer__links {
        gap: calc(18/768*100vw);
    }
}

@media screen and (max-width:500px) {
    .footer__links {
        display: flex;
        flex-direction: column;
    }
}
