.place__website-link {
    font-family: 'Inter';
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: underline;
}


.place__website-link:hover {
    cursor: url(../../../../images/Pointer.svg), pointer;
}