.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1184px;
    min-height: 740px;
    margin: 92px auto 92px auto;
    background-image: url(../../Images/__background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    word-wrap: break-word;
    text-decoration: none;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
    cursor: url(../../images/Pointer.svg), pointer;
    
}

.cover:hover .cover__title {
    cursor: url(../../images/Pointer.svg), pointer;
}

.cover:hover .cover__subtitle {
    cursor: url(../../images/Pointer.svg), pointer;
}

@media screen and (min-width:900px) and (max-width:1200px) {
 .cover {
    width: 100%;
    min-height: calc(640/1024*100vw);
    margin: calc(92/1024*100vw) 0 calc(92/1024*100vw) 0;
 }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .cover {
        width: 100%;
        min-height: calc(480/768*100vw);
        margin: calc(90/768*100vw) 0 calc(88/768*100vw) 0;
     }
}

@media screen and (max-width:500px) {
    .cover {
        width: 100%;
        min-height: calc(200/320*100vw);
        margin: calc(66/320*100vw) 0 calc(64/320*100vw) 0;
     }
}
