.cover__overlay {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #2A2C2F;
    z-index: 2;
    transition: opacity .3s linear;
}


@media screen and (max-width: 768px) {
    .cover__overlay {
        position: absolute;
        max-width: 100%;
        max-height: 100%; 
    }
}


@media screen and (max-width: 425px) {
    .cover__overlay {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}