.lead__caption {
    margin: 5px auto 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
}


@media screen and (min-width:900px) and (max-width:1200px) {
    .lead__caption {
        margin: calc(5/1024*100vw) auto 0 0;
        font-size: calc(10/1024*100vw);
        line-height: calc(14/1024*100vw);
        letter-spacing: calc(1.5/1024*100vw);
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .lead__caption {
        margin: calc(5/768*100vw) auto 0 calc(24/768*100vw);
        font-size: calc(10/768*100vw);
        line-height: calc(14/768*100vw);
        letter-spacing: calc(1.5/768*100vw);
    }
}

@media screen and (max-width:500px) {
    .lead__caption {
        margin: calc(5/320*100vw) auto 0 calc(16/320*100vw);
        font-size: calc(10/320*100vw);
        line-height: calc(14/320*100vw);
        letter-spacing: calc(1.5/320*100vw);
        height: min-content;
    }
}
