.cover__title {
    margin: 245px 26% 32px 26%;
    font-family: Inter;
    font-size: 72px;
    font-weight: bold;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    z-index: 3;
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 195px 22% 32px 22%;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 115px 13% 32px 13%;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        margin: 33px 10% 16px 10%;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}