.place__website-url-heading {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    color: #AAAAAA;
    width: max-content;
    height: min-content;
   
}

@media screen and (min-width:900px) and (max-width:1200px) {
    .place__website-url-heading {
        font-size: calc(12/1024*100vw);
        line-height: calc(12/1024*100vw);
        letter-spacing: calc(2/1024*100vw);
    }   
}

@media screen and (min-width:500px) and (max-width:900px) {
    .place__website-url-heading {
        font-size: calc(12/768*100vw);
        line-height: calc(12/768*100vw);
        letter-spacing: calc(2/768*100vw);
        margin: 0;
    }   
}

@media screen and (max-width:500px) {
    .place__website-url-heading {
        font-size: calc(12/320*100vw);
        line-height: calc(12/320*100vw);
        letter-spacing: calc(2/320*100vw);
        margin-top:0;
    }   
}